body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.heading{
background-color: aqua;
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note
{
font-size: 15px;
color: black;
}
.div_speed{
   float: left;
}
.div_speed_img{
    width: 200px;
    border-radius: 100px;
}
#speed{
font-size: 23px;
    margin: 15px;
}
.div_volumen{
    float: right;
    }
.div_volumen_img{
    width: 200px;
    border-radius: 100;
}
#volumen{
    font-size: 23px;
    margin: 15px;
}
.play_button{
    font-size: 25px;  
}

canvas{
border: 5px solid white;
border-radius: 20px;
animation-name: example;

animation-duration: 3s;
margin-top:50px ;
animation-iteration-count: infinite;

}

@keyframes example{

from {box-shadow: 1px 1px 38px red;} 
to {box-shadow: 1px 1px 38px blue}
}



